<%= simple_form_for(shop) do |f| %>
    <%= f.input :name, label: "Nom du magasin" %>
    <%# we use "count" as a counter to associate the right weekday directly%>
    <% count = 0 %>
      <%= f.simple_fields_for :schedules do |schedule| %>
        <div class="my-5">
          <div class="d-flex justify-content-center">
          <%# we display the weekdays as readonly %>
            <%= schedule.input :weekday, label: false, input_html: { value: jours.key(count), readonly: "readonly" } %>
          </div>
          <div class="d-flex justify-content-center mx-3">
            <div data-action="click->schedule-manager#checkIfClosed">
              <%= schedule.input :closed, label: "Jour de fermeture", input_html: { data: { target: "schedule-manager.closedDay" } } %>
            </div>
            <div data-schedule-manager-target="openingHours" class="d-flex justify-content-center mx-5">
            <%# time fields are set to display minutes only by 15minutes slots %>
              <%= schedule.input :open_at, label: "Heure d'ouverture", minute_step: 15, include_blank: true, input_html: { data: { target: "schedule-manager.open" } } %>
              <%= schedule.input :close_at, label: "Heure de fermeture", minute_step: 15, include_blank: true, input_html: { data: { target: "schedule-manager.close" } }%>
            </div>
          </div>

          <div class="d-flex justify-content-center mx-3">
            <div data-action="click->schedule-manager#checkIfMultipleSlots" data-schedule-manager-target="multipleSlotsCheck">
              <%= schedule.input :multiple_slots, label: "Plusieurs créneaux d'ouverture", input_html: { data: { target: "schedule-manager.multipleSlots" } }  %>
            </div>
            <div data-schedule-manager-target="openingHourMs" class="d-none d-flex justify-content-center mx-5">
              <%= schedule.input :open_at_ms, label: "Heure d'ouverture", minute_step: 15, include_blank: true %>
              <%= schedule.input :close_at_ms, label: "Heure de fermeture", minute_step: 15, include_blank: true %>
            </div>
          </div>
        </div>
        <% count += 1 %>
      <% end %>
    <div class="mb-5 text-center">
      <%= f.submit "Créer le magasin", class:"btn btn-primary"%>
    </div>
  <% end %>
